
body{
    display: block;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    text-align: center;

}


#img-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

#img-div img{
    max-width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
}
